.example-card {
  max-width: 400px;
  margin: 20px; 
  float:left;
}

.example-header-image {
  background-image: url('../../assets/images/1635269207750.jpeg');
  background-size: cover;
}

.link {
  color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.mat-card-image {
  margin-top:0px !important; 
}